body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  margin-top: 100px;
  width: 300px;
  text-align: center;
  font-size: 16px;
}

h2, p {
  text-align: center;
}

P {
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-image {
  max-width: 100%;
}

a{
  text-decoration: none;  
}
